
.comment {
    display: flex;
    margin-bottom: 20px;
  }
  
  .comment_image-container {
    border: 5px solid #ffc641;
    margin-right: 20px;
  }
  
  .comment__date {
    font-size: 1.2rem;
  }
  
  .comment__content-info span {
    font-size: 1.6rem
  }
  
  .comment__description {
    width: 350px;
    margin-top: 4px;
    font-size: 1.2rem
  }